registry=https://nexus.tupadr3.de/repository/npm
init.author.name=ci
init.author.email=ci@tupadr3.de
email=ci@tupadr3.de
_auth=XXXXXXXXXXXXXXXXXXXXXXXXX
; force auth to be used for GET requests
always-auth = true